<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>ttroy9649-001-site1.dtempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://ttroy9649-001-site1.dtempurl.com:8172/MsDeploy.axd?site=ttroy9649-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>ttroy9649-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ttroy9649-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ModelHaber1" Order="1" Enabled="True">
          <Destination Path="Data Source=sql5005.site4now.net;Initial Catalog=DB_A5E187_Haber;User ID=DB_A5E187_Haber_admin;Password=h2op5nosis6" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HaberPortal.Entity.ModelHaber, HaberPortal" MigrationConfiguration="HaberPortal.Migrations.Configuration, HaberPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ModelHaber" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DRANA\SQLEXPRESS;Initial Catalog=HaberDb;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ModelHaber_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DRANA\SQLEXPRESS;initial catalog=HaberDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ModelHaber1-Web.config Connection String">
      <ParameterValue>Data Source=sql5005.site4now.net;Initial Catalog=DB_A5E187_Haber;User ID=DB_A5E187_Haber_admin;Password=h2op5nosis6</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ModelHaber-Web.config Connection String" />
  </ItemGroup>
</Project>